#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

button {
    width: 250px;
    height: 30px;
    outline: none;
    background-color: pink;
}

span {
    margin-top: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

.component-inputs {
    margin-bottom: 5px;
    width: 200px;
    height: 10px;
    text-align: center;
}

#componentForm {
    display: flex;
    flex-direction: column;
    align-items: center;   
}