#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
}

#email-warning {
    font-size: 15px;
}

#empty-container {
    height: 22px;
}

#addComponentButton {
    background-color: #ffc3d7;
}

#firebaseui-auth-container {
    height: 310px;
}

#footer-copyright {
    text-align: center;
    font-size: 12px;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
}

#input-form {
    width: 250px;
}

.main-container-content {
    margin-top: 20px;
}

#mrtlib-title {
    text-align: center;
    font-weight: bold;
}